Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the 
range of 1 to 25.

Ans- Keyword used to create a function.
     
          def keyword()
    
    example:  def test1()

In [27]:
l =list(range(1,26))
def test1(l):
  l1 = []
  for i in l:
    if i%2 != 0:
      l1.append(i)
  return l1

In [28]:
test1(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

Ans - In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:

1. *args (Non Keyword Arguments)

2. **kwargs (Keyword Arguments)

We use *args and **kwargs as an argument when we are unsure about the number of arguments to pass in the functions.

In [29]:
# USE OF *ARG
def add(*args):
    print(args, type(args))

add(2, 3)

# USE OF **KWARG

def total_fruits(**kwargs):
    print(kwargs, type(kwargs))


total_fruits(banana=5, mango=7, apple=8)

(2, 3) <class 'tuple'>
{'banana': 5, 'mango': 7, 'apple': 8} <class 'dict'>

Q3.  What is an iterator in python? Name the method used to initialise the iterator object and the method 
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 
16, 18, 20].

ANS-  In Python, an iterator is an object that allows you to iterate over collections of data, such as lists, tuples, dictionaries, and sets.

1. Iter() method is used to initialize the iterator object so that the instance of this object can be used for iterating.

2. next(): The next method returns the next value for the iterable.

In [30]:
l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
l2=iter(l)
print(next(l2))
print(next(l2))
print(next(l2))
print(next(l2))
print(next(l2))

2
4
6
8
10

Q4.  What is a generator function in python? Why yield keyword is used? Give an example of a generator 
function.

ANS- A Python generator function allows you to declare a function that behaves like an iterator, providing a faster and easier way to create iterators. They can be used on an abstract container of data to turn it into an iterable object like lists, dictionaries and strings.

The yield keyword in Python controls the flow of a generator function. This is similar to a return statement used for returning values in Python.

In [31]:
#EXAMPLE
def filtering_odd( numbers ):  
    for num in range( numbers ):  
        if num % 2 != 0:  
            yield num   
  
odd_num = filtering_odd( 34 )  
print(list( odd_num ))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the 
first 20 prime numbers.

In [32]:

def get_first_primes(upper_limit):
   primes = []

   for i in range(2, upper_limit + 1):
       is_prime = True
       for j in range(2, ((i // 2) + 1), 1):
           if i % j == 0:
               is_prime = False
               break
       if is_prime:
           primes.append(i)

   return primes


if __name__ == '__main__':
   print("Your number: ")
   n = input()
   result = get_first_primes(int(n))
   print(result)

Your number:
1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [33]:
m = result
m1 = iter(m)
for i in range(20):
  print(next(m1))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop

In [34]:
def test_fib():
  a,b = 0,1
  while True :
    yield a
    a,b = b, a+b
fib = test_fib()
for i in range(10):
  print(next(fib))

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.

Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [35]:
s = list(map(lambda x:x,"pwsills"))
print(s)

['p', 'w', 's', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop

In [36]:
num = int(input("Enter a number:"))
a = num
rev = 0
while(num>0):
  dig = num%10
  rev = rev*10+dig
  num = num//10
if(a==rev):
  print("the no. is palindrome")
else: 
  print("not a palindrome")

Enter a number:1221
the no. is palindrome

In [37]:
num = int(input("Enter a number:"))
a = num
rev = 0
while(num>0):
  dig = num%10
  rev = rev*10+dig
  num = num//10
if(a==rev):
  print("the no. is palindrome")
else: 
  print("not a palindrome")

Enter a number:123
not a palindrome

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter 
out odd numbers.

In [38]:
l = range(1,101)

In [39]:
list(l)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [40]:
list(filter(lambda x : x % 2 != 0, l))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]